<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Ricky's Restaurant</display-name>
    <description>
        The menu and online ordering system for Ricky's Restaurant
    </description>

    <servlet>
        <servlet-name>HelloWorldServlet</servlet-name>
        <servlet-class>pl.kamil.servlet.HelloWorldServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MenuServlet</servlet-name>
        <servlet-class>pl.kamil.servlet.MenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchResultServlet</servlet-name>
        <servlet-class>pl.kamil.servlet.SearchResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectionServlet</servlet-name>
        <servlet-class>pl.kamil.servlet.RedirectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieProductingServlet</servlet-name>
        <servlet-class>pl.kamil.servlet.CookieProductingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieReadingServlet</servlet-name>
        <servlet-class>pl.kamil.servlet.CookieReadingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionServlet</servlet-name>
        <servlet-class>pl.kamil.servlet.SessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecuredServlet</servlet-name>
        <servlet-class>pl.kamil.servlet.SecuredServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWorldServlet</servlet-name>
        <url-pattern>/hello.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuServlet</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchResultServlet</servlet-name>
        <url-pattern>/searchResults.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectionServlet</servlet-name>
        <url-pattern>/receivePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieProductingServlet</servlet-name>
        <url-pattern>/sendDataForCookie.html</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CookieReadingServlet</servlet-name>
        <url-pattern>/readCookie.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionServlet</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecuredServlet</servlet-name>
        <url-pattern>/secured</url-pattern>
    </servlet-mapping>



    <session-config>
        <!-- in minutes -->
        <session-timeout>5</session-timeout>
    </session-config>

<!--    //    java servlet api - only authorization (roles)-->
<!--    //    authentication - web server specific stuff. -->
<!-- //It's not   configured on java ee/servlet level. Use a framework-->


    <security-role>
        <role-name>admin</role-name>
    </security-role>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>this is my secured servlet</web-resource-name>
            <url-pattern>/secured</url-pattern>
        </web-resource-collection>
    <auth-constraint>
        <role-name>admin</role-name>
    </auth-constraint>
    </security-constraint>


<!--roles and passwords in tomcat-users.xml-->
<!--    authentication. Popup will appear -->
<!--    request: -->
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Secured stuff</realm-name>
    </login-config>

</web-app> 
